<div>
<!-- <a href="#" id="new-button">Nuevo Contacto</a> -->
<button type="button" class="btn btn-primary" (click)="newRecord()">Nuevo Contacto</button>
<table class = "table table-bordered">
<thead>
    <tr>
        <th scope="col">Nombres </th>
        <th scope="col">Correo</th>
        <th scope="col">Estado </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let contactInfo of contactData"> 
        <td>{{contactInfo.Nombre}}</td>
        <td>{{contactInfo.Correo}}</td>
        <td>{{contactInfo.Estado}}</td>
        <td class="align-middle">
         <!--    <a  (click)="editRecord(contactInfo)">Editar</a> -->
              &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="editRecord(contactInfo)">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteRecord(contactInfo)">Borrar</button>
           <!--  <a  (click)="deleteRecord(contactInfo)">Borrar</a> -->
        </td>
    </tr>
</tbody>
</table>

</div>
