<div class="container">
        <h5 *ngIf="contactInfo.Id === undefined">Crear un nuevo contacto</h5> 
        <h5 *ngIf="contactInfo.Id != undefined">Editar contacto id {{contactInfo.Id}}</h5>
    <h2></h2>
    <form>
        <div class="form-group">
            <label for="nombre-input">Nombre de contacto</label>
            <input type="text" id="nombre-input" [(ngModel)]="contactInfo.Nombre" name = "Nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="correo-input">Correo</label>
            <input type="email" id="correo-input" [(ngModel)]="contactInfo.Correo" name = "Correo" class="form-control" />
        </div>
        <div class="form-group">
            <label for="estado-input">Estado</label>
            <select id="estado-input" [(ngModel)]="contactInfo.Estado" name = "Estado" class="form-control">
                <option value = "Activo">Activo</option>
                <option value = "Inactivo">Inactivo</option>
            </select>   
            <!-- <input type="text" id="estado-input" [(ngModel)]="contactInfo.Estado" name = "Estado" class="form-control" /> -->
        </div>
        <button type="button" class="btn btn-primary" (click)="addOrUpdateContactRecord($event);">Guardar</button>

    </form>
</div>